/*Color variables*/


/*gray variables*/


/*white variables*/


/*black variables*/


/*shadow variables*/


/* dark theme */


/*colors*/

a:hover {
    color: #bab710;
    text-decoration: none;
}

.table-primary {
    background-color: #e7effb;
}

.table-primary>th,
.table-primary>td {
    background-color: #e7effb;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: #e7effb;
}

.table-hover .table-primary:hover {
    background-color: #e7effb;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #e7effb;
}

.btn-primary {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
    background-color: #bab710 !important;
    border-color: #bab710 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.show>.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
}

.btn-outline-primary {
    color: #bab710;
    border-color: #bab710;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #bab710 !important;
    border-color: #bab710;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.5);
    background-color: #bab710 !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #bab710;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.show>.btn-outline-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.5);
}

.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.5);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #bab710;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    border-color: #bab710;
    background-color: #bab710;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #e7effb;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #ffffff;
    background-color: #e7effb;
    border-color: #e7effb;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #bab710;
    background-color: #bab710;
}

.custom-range::-webkit-slider-thumb {
    background-color: #bab710;
}

.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #bab710;
}

.custom-range::-moz-range-thumb:active,
.custom-range::-ms-thumb:active {
    background-color: #e7effb;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #bab710;
}

@media (max-width: 767.98px) {
    .underline-nav .main-nav-line .nav-link.active::before {
        background-color: #bab710;
    }
}

@media (min-width: 768px) {
    .underline-nav .main-nav-line .nav-link.active::before {
        background-color: #bab710;
    }
}

.card.card-primary {
    border-top: 2px solid #bab710 !important;
}

.page-link {
    color: #bab710;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.progress-bar {
    background-color: #bab710;
}

.list-group-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.bg-primary {
    background-color: #bab710 !important;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #bab710 !important;
}

button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #bab710 !important;
}

.text-primary {
    color: #bab710 !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #bab710 !important;
}

.accordion-indigo .card {
    border-color: #bab710;
}

.accordion-indigo .card-header a {
    color: #bab710;
}

.accordion-indigo .card-header a:hover,
.accordion-indigo .card-header a:focus {
    color: #bab710;
}

.accordion-indigo .card-header a.collapsed {
    background-color: #bab710;
    color: rgba(255, 255, 255, 0.8);
}

.accordion-indigo .card-header a.collapsed:hover,
.accordion-indigo .card-header a.collapsed:focus {
    background-color: #bab710;
    color: #ffffff;
}

.accordion-blue .card {
    border-color: #bab710;
}

.accordion-blue .card-header a {
    color: #bab710;
}

.accordion-blue .card-header a:hover,
.accordion-blue .card-header a:focus {
    color: #bab710;
}

.accordion-blue .card-header a.collapsed {
    background-color: #bab710;
    color: rgba(255, 255, 255, 0.8);
}

.main-accordion .accordion-item.active .accordion-title {
    color: #bab710;
}

.accordion.accordion-color .card-header a.collapsed {
    color: #ffffff;
    background-color: #bab710;
    border-bottom-color: transparent;
}

.accordion.accordion-color .card-header a.collapsed:hover,
.accordion.accordion-color .card-header a.collapsed:focus {
    color: #ffffff;
    background-color: #bab710;
}


/*////////////////////badgelight//////////////////*/

.badge-primary-transparent {
    color: #bab710;
    background-color: #d9e8fe;
}

.badge-primary {
    color: #ffffff;
    background-color: #bab710;
}

a.badge-primary:hover {
    color: #ffffff;
    background-color: #bab710;
}

a.badge-primary:focus {
    color: #ffffff;
    background-color: #bab710;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.5);
}

a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.5);
}

.breadcrumb-style1 .breadcrumb-item a:hover,
.breadcrumb-style1 .breadcrumb-item a:focus {
    color: #bab710;
}

.breadcrumb-style2 .breadcrumb-item a:hover,
.breadcrumb-style2 .breadcrumb-item a:focus {
    color: #bab710;
}

.breadcrumb-style3 .breadcrumb-item a:hover,
.breadcrumb-style3 .breadcrumb-item a:focus {
    color: #bab710;
}

.breadcrumb-style1 .breadcrumb-item.active,
.breadcrumb-style2 .breadcrumb-item.active,
.breadcrumb-style3 .breadcrumb-item.active,
.main-breadcrumbs .breadcrumb-item.active {
    color: #bab710;
}

.breadcrumb5 li:first-child {
    background: #bab710;
}

.breadcrumb5 li.active,
.breadcrumb5 li a {
    color: #bab710;
}

.breadcrumb6 li:first-child {
    background: #bab710;
}

.breadcrumb6 li.active,
.breadcrumb6 li a {
    color: #bab710;
}

.breadcrumb7 li:after,
.breadcrumb7 li a {
    background: #bab710;
}

.breadcrumb7 li:last-child {
    color: #bab710;
}

.breadcrumb8 li:after,
.breadcrumb8 li a {
    background: #bab710;
}

.breadcrumb8 li:last-child {
    color: #bab710;
}

.breadcrumb9 li:last-child {
    background: #bab710;
    color: #ffffff;
}

.breadcrumb9 li:last-child:after {
    border-left-color: #bab710;
}

.btn-outline-indigo {
    border-color: #bab710;
    color: #bab710;
}

.btn-outline-indigo:hover,
.btn-outline-indigo:focus {
    background-color: #bab710;
}


/* ###### 5.1 Buttons  ###### */

.btn-main-primary {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-main-primary:hover {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-main-primary:focus,
.btn-main-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
}

.btn-main-primary.disabled,
.btn-main-primary:disabled {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-main-primary:not(:disabled):not(.disabled):active,
.btn-main-primary:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.show>.btn-main-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.btn-main-primary:not(:disabled):not(.disabled):active:focus,
.btn-main-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
}

.show>.btn-main-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.2);
}

.modal-content .close,
.simple-modal .close {
    color: #bab710;
}

.nav-pills .nav-link.active {
    background-color: #bab710;
}

.main-nav .nav-link.active {
    color: #bab710;
}

.main-nav-column .nav-link.active {
    color: #bab710;
}

.main-nav-column .nav-link.active::before {
    background-color: #bab710;
}

.main-nav-column .nav-link.active:hover,
.main-nav-column .nav-link.active:focus,
.main-nav-column .nav-link.active i,
.main-nav-column .nav-link.active:hover i,
.main-nav-column .nav-link.active:focus i {
    color: #bab710;
}

.main-nav-dark .nav-link.active {
    color: #bab710;
}

.pagination-dark .page-item.active .page-link {
    background-color: #bab710;
    color: #ffffff;
}

.pagination-primary .page-item.active .page-link {
    background-color: #bab710;
}

.pagination-radius li a:hover {
    color: #ffffff;
    background-color: #bab710;
}

.page-item.active .page-link {
    background-color: #bab710;
}

.popover-head-primary .popover-header {
    color: #ffffff;
    background-color: #bab710;
}

.popover-head-primary.bs-popover-bottom .arrow::after,
.popover-head-primary.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #bab710;
}

.popover-head-secondary .popover-header {
    color: #ffffff;
    background-color: #bab710;
}

.popover-head-secondary.bs-popover-bottom .arrow::after,
.popover-head-secondary.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #bab710;
}

.popover-primary {
    background-color: #bab710 !important;
    border: 1px solid #bab710 !important;
}

.popover-primary.bs-popover-top .arrow::after,
.popover-primary.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #bab710;
}

.popover-primary.bs-popover-bottom .arrow::after,
.popover-primary.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #bab710;
}

.popover-primary.bs-popover-left .arrow::after,
.popover-primary.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #bab710;
}

.popover-primary.bs-popover-right .arrow::after,
.popover-primary.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #bab710;
}

.popover-secondary {
    background-color: #bab710 !important;
    border: 1px solid #bab710 !important;
}

.popover-secondary.bs-popover-top .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #bab710;
}

.popover-secondary.bs-popover-bottom .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #bab710;
}

.popover-secondary.bs-popover-left .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #bab710;
}

.popover-secondary.bs-popover-right .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #bab710;
}

.card-dashboard-progress .progress-legend li:first-child::before {
    background-color: #bab710;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #bab710;
    color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #bab710;
    color: #ffffff !important;
}

.tooltip-primary .tooltip-inner {
    background-color: #bab710;
    color: #ffffff;
}

.tooltip-primary.bs-tooltip-top .arrow::before,
.tooltip-primary.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #bab710;
}

.tooltip-primary.bs-tooltip-bottom .arrow::before,
.tooltip-primary.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #bab710;
}

.tooltip-primary.bs-tooltip-left .arrow::before,
.tooltip-primary.bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #bab710;
}

.tooltip-primary.bs-tooltip-right .arrow::before,
.tooltip-primary.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #bab710;
}


/* ###### Tooltip  ###### */


/* ###### Colors  ###### */

.slide-menu a.active {
    background: transparent;
    color: #bab710 !important;
}

.slide.submenu.is-expanded .side-menu__item {
    color: #bab710 !important;
}

.slide-item.active,
.slide-item:hover,
.slide-item:focus {
    color: #bab710;
    background: transparent;
}

.first-sidemenu,
.slide-item.active:before,
.slide.submenu.active:before {
    background: #bab710;
}

.irs-min,
.irs-max,
.tree li i {
    color: #bab710;
}

.step-app>ul>li .number .cart-icons {
    fill: #bab710;
}

.main-content-breadcrumb span:last-child {
    color: #bab710 !important;
}

.main-content-left-components .component-item .nav-link:hover,
.main-content-left-components .component-item .nav-link.active {
    color: #bab710;
}

.main-content-choose-demo .title-label {
    color: #bab710;
}

.main-logo:hover,
.main-logo:focus {
    color: #bab710;
}

.main-header-menu .nav-item>.nav-link:hover {
    color: #bab710;
}

.main-header-menu .nav-item>.nav-link:hover i {
    color: #bab710;
}

.main-header-menu .nav-item.active>.nav-link {
    color: #bab710;
}

.main-header-menu .nav-item.active>.nav-link::before {
    content: '';
    background-color: #bab710;
}

.main-menu-sub .nav-link:hover,
.main-menu-sub .nav-link:focus,
.main-menu-sub .nav-link.active {
    color: #bab710;
}

.main-header-right .btn-buy {
    background-color: #bab710;
}

.main-header-right .btn-buy:hover,
.main-header-right .btn-buy:focus {
    background-color: #bab710;
}

.main-profile-menu>.profile-name::after {
    border-top-color: #bab710;
    border-left-color: #bab710;
    background-color: #bab710;
}

.main-header-primary {
    background-color: #bab710;
}

.main-header-primary .main-header-center .form-control {
    background-color: #bab710;
    color: #ffffff;
}

.main-header-primary .main-header-center .form-control::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.main-header-primary .main-header-center .form-control:focus+.btn {
    color: #ffffff;
}

.main-header-primary .main-header-center .sp-container .form-control:focus+button {
    color: #ffffff;
}

.sp-container .main-header-primary .main-header-center .form-control:focus+button {
    color: #ffffff;
}

.main-header-primary .main-header-center .btn:hover,
.main-header-primary .main-header-center .sp-container button:hover {
    color: #ffffff;
}

.sp-container .main-header-primary .main-header-center button:hover {
    color: #ffffff;
}

.main-header-primary .main-header-center .btn:focus,
.main-header-primary .main-header-center .sp-container button:focus {
    color: #ffffff;
}

.sp-container .main-header-primary .main-header-center button:focus {
    color: #ffffff;
}

.main-header-primary .main-logo {
    color: #ffffff;
}

.main-header-primary .main-logo span {
    color: rgba(255, 255, 255, 0.65);
}

.main-header-primary .main-header-menu-icon span {
    background-color: rgba(255, 255, 255, 0.65);
}

.main-header-primary .main-header-menu-icon span::before,
.main-header-primary .main-header-menu-icon span::after {
    background-color: rgba(255, 255, 255, 0.65);
}

.main-header-primary .main-header-message>a,
.main-header-primary .main-header-notification>a {
    color: rgba(255, 255, 255, 0.75);
}

.main-header .input-group-btn .btn:hover {
    color: #bab710;
}

.heading-primary {
    background-color: #bab710;
    color: #ffffff;
}

.main-sidebar-body .nav-sub-item.active>.nav-sub-link {
    color: #bab710;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active,
.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
    color: #bab710;
}

.nav.nav-contrast.nav-tabs>.nav-link.active>a {
    color: #bab710;
    border-bottom: 2px solid #bab710;
}

.nav.nav-contrast.nav-tabs>.nav-link.active>a:focus,
.nav.nav-contrast.nav-tabs>.nav-link.active>a:hover {
    color: #bab710;
    border-bottom: 2px solid #bab710;
}

.nav.nav-contrast.nav-tabs>.nav-link>a:focus,
.nav.nav-contrast.nav-tabs>.nav-link>a:hover {
    color: #bab710;
    border-bottom: 2px solid #bab710;
}

.main-profile-body .main-nav-line .nav-link.active::before {
    border: 1px solid #bab710;
}

.main-nav-line .nav-link.active,
.main-iconbar .nav-link.active {
    color: #bab710;
}

.main-iconbar-logo::after {
    background-color: #bab710;
}

.main-iconbar-body .nav-item.active .nav-link {
    color: #bab710;
}

.main-iconbar-body .nav-item.active .nav-link i {
    color: #bab710;
}

.main-iconbar-body .nav-link:hover,
.main-iconbar-body .nav-link:focus,
.main-iconbar-body .nav-link:hover i,
.main-iconbar-body .nav-link:focus i {
    color: #bab710;
}

.main-iconbar-body .nav-sub .nav-sub-item.active>.nav-sub-link {
    color: #bab710;
}

.main-iconbar-body .nav-sub .nav-sub-link:hover,
.main-iconbar-body .nav-sub .nav-sub-link:focus {
    color: #bab710;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
    background-color: #bab710;
    color: #ffffff;
}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:hover,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:focus {
    background-color: #bab710;
    color: #ffffff;
}

.datetimepicker table th.prev:hover span::before,
.datetimepicker table th.prev:focus span::before {
    color: #bab710;
}

.datetimepicker table th.next:hover span::before,
.datetimepicker table th.next:focus span::before {
    color: #bab710;
}

.datetimepicker table th.switch:hover,
.datetimepicker table th.switch:focus {
    background-color: #ffffff;
    color: #bab710;
}

.datetimepicker table td.active {
    background-color: #bab710;
    color: #ffffff;
}

.datetimepicker table td.active:hover,
.datetimepicker table td.active:focus {
    background-color: #bab710;
    color: #ffffff;
}

.datetimepicker table span.active {
    background-color: #bab710;
    color: #ffffff;
}

.datetimepicker table span.active:hover,
.datetimepicker table span.active:focus {
    background-color: #bab710;
    color: #ffffff;
}

.main-datetimepicker>.datepicker_inner_container>.datepicker_calendar td.active,
.main-datetimepicker>.datepicker_inner_container>.datepicker_timelist>div.timelist_item.active {
    background-color: #bab710;
    color: #ffffff;
}

.picker-picked {
    font-weight: 500;
    color: #bab710;
}

.ql-editor .ql-bg-blue {
    background-color: #bab710;
}

.ql-editor .ql-color-blue {
    color: #bab710;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #bab710;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #bab710;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #bab710;
}

.ql-snow a {
    color: #bab710;
}

.irs-from,
.irs-to,
.irs-single {
    background-color: #bab710;
}

.irs-bar,
.irs-bar-edge {
    background-image: none;
    background-color: #bab710;
}

.irs-from::after,
.irs-to::after,
.irs-single::after {
    border-top-color: #bab710;
}

.irs-slider:before {
    background-color: #bab710;
}


/* #################### COLOR VARIANT SKINS #################### */

.irs-primary .irs-bar,
.irs-primary .irs-bar-edge,
.irs-primary .irs-slider::before,
.irs-primary .irs-from,
.irs-primary .irs-to,
.irs-primary .irs-single {
    background-color: #bab710;
}

.irs-primary .irs-from::after,
.irs-primary .irs-to::after,
.irs-primary .irs-single::after {
    border-top-color: #bab710;
}

.irs-modern .irs-slider {
    background-color: #ffffff;
    border: 1px solid #bab710;
}

.irs-modern .irs-slider::before {
    border-left: 1px solid #bab710;
    border-right: 1px solid #bab710;
}

.irs-modern.irs-primary .irs-slider {
    border-color: #bab710;
}

.irs-modern.irs-primary .irs-slider::before {
    border-color: #bab710;
}

.irs-outline .irs-slider {
    border: 1px solid #bab710;
}

.irs-outline .irs-slider:hover::before,
.irs-outline .irs-slider:focus::before {
    background-color: #bab710;
}

.irs-outline.irs-primary .irs-line,
.irs-outline.irs-primary .irs-slider {
    border-color: #bab710;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #bab710;
}

.main-datepicker .ui-datepicker .ui-datepicker-title {
    color: #bab710;
}

.main-datepicker .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
    background-color: #bab710;
}

.main-calendar .fc-header-toolbar button.fc-today-button {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.main-calendar .fc-view.fc-agenda-view .fc-day-header.fc-today>a,
.main-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now,
.main-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now,
.main-calendar .fc-view.fc-listMonth-view .fc-list-heading-main.now span:last-child,
.main-calendar .fc-view.fc-listWeek-view .fc-list-heading-main.now span:last-child {
    color: #bab710;
}

.main-calendar td.fc-today .fc-day-number {
    background-color: #bab710;
    color: #ffffff;
}

.main-calendar td.fc-today .fc-day-number:hover,
.main-calendar td.fc-today .fc-day-number:focus {
    background-color: #bab710;
    color: #ffffff;
}

.main-nav-line-chat .nav-link.active {
    color: #bab710;
}

.main-chat-contacts-more {
    background-color: #bab710;
    color: #ffffff;
}

.main-chat-list .media::after {
    background-color: #bab710;
}

.main-chat-header .nav-link:hover,
.main-chat-header .nav-link:focus {
    color: #bab710;
    background: #f3f6ff;
}

.main-chat-footer .nav-link .nav-link:hover,
.main-chat-footer .nav-link .nav-link:focus {
    background: #f3f6ff;
    color: #bab710;
}

.main-contact-item.selected {
    z-index: 1;
    border-left-color: #bab710;
    border-top-color: #e7effb;
    border-bottom-color: #e7effb;
    background-color: #e7effb;
}

.main-contact-info-header .main-img-user a:hover,
.main-contact-info-header .main-img-user a:focus {
    background-color: #bab710;
}

.main-contact-info-header .media-body .nav-link:hover,
.main-contact-info-header .media-body .nav-link:focus {
    color: #bab710;
}

.main-contact-action a:hover,
.main-contact-action a:focus {
    color: #bab710;
}

.contact-tab .nav-link.active {
    color: #bab710;
}

#contact-pagination a.active {
    background: #bab710;
    color: #ffffff;
}

.contact-table .page-item.current-page.active .page-link:hover,
.contact-table .page-item.current-page.active .page-link:focus {
    background: #bab710;
}

@media (max-width: 991px) {
    .main-content-body-show .main-header-arrow {
        background: #bab710;
        color: #ffffff;
    }
}

.main-signin-header h2 {
    color: #bab710;
}

.main-signin-footer a:hover,
.main-signin-footer a:focus {
    color: #bab710;
}

.main-signup-header h2 {
    color: #bab710;
}

.main-signup-footer a:hover,
.main-signup-footer a:focus {
    color: #bab710;
}

.main-invoice-list .media-body h6 span:last-child {
    color: #bab710;
}

.main-invoice-list .selected {
    background-color: #f6f9fd;
    border-top-color: #f9eded;
    border-bottom-color: #f9eded;
    border-left-color: #bab710;
}

.main-content-body-profile .main-nav-line .nav-link.active {
    color: #bab710;
}

.main-content-body-profile .main-nav-line .nav-link.active::before {
    background-color: #bab710;
}

.account-setting-tab-menu .list-group>a .glyphicon,
.account-setting-tab-menu .list-group>a .fa {
    color: #bab710;
}

.account-setting-tab-menu .list-group>a.active {
    background-color: #e7effb;
    color: #bab710;
    border-color: #e7effb;
    border-left: 2px solid #bab710;
}

.pricingTable:after {
    background: #bab710;
}

.pricingTable .icon {
    color: #bab710;
}

.pricingTable .price-value {
    border-bottom: 5px solid #bab710;
}

.pricingTable .pricingTable-signup {
    background: #bab710;
}

.pricingTable:hover .pricingTable-signup {
    background: #ffffff;
    color: #bab710;
}

.pricingTable .pricingTable-signup:before {
    border-right: 12px solid #bab710;
}

.pricingTable .pricingTable-signup:after {
    border-left: 12px solid #bab710;
}

.pricingTable1 .price-value {
    background: #bab710;
}

.pricingTable1 .pricingTable1-signup {
    background: #bab710;
    color: #ffffff;
    border: 2px solid #bab710;
}

.pricingTable1 .pricingTable1-signup:hover {
    background: #ffffff;
    color: #bab710;
}

.pricingTable3:hover .pricingTable3-header {
    background: #bab710;
    color: #ffffff;
}

.pricingTable3:hover .btn {
    background: #bab710;
    color: #ffffff;
    border: 1px solid #bab710;
}

@media screen and (min-width: 1450px) {
    .pricingTable3 .price-value {
        background: #bab710;
    }
}

@media screen and (max-width: 1449px) {
    .pricingTable3 .price-value {
        background: #bab710;
        color: #ffffff;
    }
}

.pricing-tabs ul.nav-price li a.active {
    background: #bab710;
    color: #ffffff;
}

.button-backlog {
    color: #bab710;
}

.scrum-board-item:before {
    background: #bab710;
}

.scrum-board-card .btn-primary {
    color: #bab710;
}

.task-status .status-backlog {
    background-color: #bab710;
}

.product-list .social li a:hover {
    color: #ffffff;
    background: #bab710;
    border: 1px solid #bab710;
}

.item2-gl-menu a.active,
.product-list h5 a:hover,
.product-grid h3 a:hover,
.list-inline-dotted {
    color: #bab710;
}

.product-grid .social li a:hover {
    color: #ffffff;
    background: #bab710;
    border: 1px solid #bab710;
}

.product-grid .title a:hover {
    color: #bab710;
}

.adtocart {
    background: #bab710;
}

.item2-gl-menu .box.open i {
    background: #bab710;
    color: #ffffff !important;
    border: 1px solid #bab710;
}

.bg-indigo {
    background-color: #bab710;
}

.bg-primary-transparent,
.bg-primary-transparent-2 {
    background-color: rgba(0, 104, 255, 0.15);
}


/* ###### 4.8 Box-shadows ###### */

.box-shadow-primary {
    box-shadow: 0 5px 10px rgba(0, 104, 255, 0.25);
}

.border-primary,
.bd-primary {
    border-color: #bab710 !important;
}

.tx-primary {
    color: #bab710;
}

.tag-indigo {
    background-color: #bab710;
    color: #ffffff;
}

.tabs-style-6 .nav.panel-tabs li a.active {
    background: #bab710;
    color: #ffffff;
}

.tabs-style-6 .nav.panel-tabs li a.active:hover,
.tabs-style-6 .nav.panel-tabs li a.active:focus {
    background: #bab710;
    color: #ffffff;
}

.tabs-style-9 .nav.panel-tabs li a.active {
    background: #bab710;
    color: #ffffff;
}

.tabs-style-9 .nav.panel-tabs li a.active:hover,
.tabs-style-9 .nav.panel-tabs li a.active:focus {
    background: #bab710;
    color: #ffffff;
}

.tabs-style-7 .nav.panel-tabs li a.active {
    color: #ffffff;
    background: #bab710;
    border-right: 1px solid #dfe6f9;
}

.tabs-style-7 .nav.panel-tabs li a.active:after {
    content: "";
    border-top: 10px solid #bab710;
}

.tabs-style-7 .nav.panel-tabs li a.active:hover {
    color: #ffffff;
    background: #bab710;
    border-right: 1px solid #dfe6f9;
}

.tabs-style-8 .nav.panel-tabs li a.active:before {
    border-top: 3px solid #bab710;
}

.tabs-style-8 .nav.panel-tabs li a.active:after {
    border-top: 7px solid #bab710;
}

.main-navbar .nav-item.active .nav-link,
.main-navbar .nav-sub-item.active>.nav-sub-link {
    color: #bab710;
}

.main-navbar .nav-sub-link:hover,
.main-navbar .nav-sub-link:focus {
    color: #bab710;
    outline: none;
}

@media (min-width: 992px) {
    .main-navbar-two .nav-item.active::before {
        border-bottom: 2px solid #bab710;
    }
}

.main-navbar-three .nav-item.active .nav-link {
    color: #bab710;
}

.wizard>.steps .current a {
    color: #bab710;
}

.wizard>.steps .current a:hover,
.wizard>.steps .current a:active {
    color: #bab710;
}

.wizard>.steps .current a .number,
.wizard>.steps .current a:hover .number,
.wizard>.steps .current a:active .number {
    background-color: #bab710;
}

.wizard>.actions a {
    background-color: #bab710;
}

.wizard>.actions a:hover,
.wizard>.actions a:active {
    background-color: #bab710;
    color: #ffffff;
}

.wizard-style-1>.steps>ul .current a .number,
.wizard-style-1>.steps>ul .current a:hover .number,
.wizard-style-1>.steps>ul .current a:active .number {
    background-color: #bab710;
    color: #ffffff;
}

.wizard-style-2>.steps>ul .current a .number,
.wizard-style-2>.steps>ul .current a:hover .number,
.wizard-style-2>.steps>ul .current a:active .number {
    border-color: #bab710;
    color: #bab710;
}

.rdiobox input[type='radio']:checked+span:before {
    border-color: transparent;
    background-color: #bab710;
}

.br-theme-bars-horizontal .br-widget a.br-active,
.br-theme-bars-horizontal .br-widget a.br-selected {
    background-color: #bab710;
}

.br-theme-bars-horizontal .br-widget .br-current-rating {
    color: #bab710;
}

.br-theme-bars-pill .br-widget a {
    background-color: #e5eafb;
    color: #bab710;
}

.br-theme-bars-pill .br-widget a.br-active,
.br-theme-bars-pill .br-widget a.br-selected {
    background-color: #bab710;
    color: white;
}

.br-theme-bars-square .br-widget a.br-active,
.br-theme-bars-square .br-widget a.br-selected {
    border: 2px solid #e5eafb;
    color: #bab710;
}

.br-theme-bars-movie .br-widget a.br-active,
.br-theme-bars-movie .br-widget a.br-selected {
    background-color: #bab710;
}

.br-theme-bars-movie .br-widget .br-current-rating {
    color: #bab710;
}

.br-theme-bars-1to10 .br-widget a.br-active,
.br-theme-bars-1to10 .br-widget a.br-selected {
    background-color: #bab710;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
    color: #bab710;
}

.br-theme-fontawesome-stars .br-widget a.br-active:after,
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #bab710;
}

.timeline-wrapper-primary .timeline-panel:before,
.timeline-wrapper-primary .timeline-badge {
    background: #bab710;
}

#count-down .clock-presenter:before {
    background: #bab710;
}

.ckbox span:after,
.main-toggle.on,
.main-toggle-secondary.on {
    background-color: #bab710;
}

.list-group-item.active {
    color: #ffffff;
    background-color: #bab710;
    border-color: #bab710;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    border-color: #bab710;
    background-color: #bab710;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 104, 255, 0.25);
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    border-color: #bab710;
    background-color: #bab710;
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #bab710;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #bab710;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #bab710;
}

.custom-select:focus {
    border-color: #bab710;
}

.custom-file-label::after {
    background-color: #bab710;
    border-left: 1px solid #bab710;
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #bab710;
}

.selectgroup-input:checked+.selectgroup-button {
    border-color: #bab710;
    color: #bab710;
    background: #edf2fa;
}

.selectgroup-input:focus+.selectgroup-button {
    border-color: #bab710;
    color: #bab710;
    box-shadow: 0 0 0 2px rgba(0, 104, 255, 0.25);
}

.custom-switch-input:checked~.custom-switch-indicator {
    background: #bab710;
}

.custom-switch-input:focus~.custom-switch-indicator {
    box-shadow: 0 0 0 2px rgba(0, 104, 255, 0.25);
    border-color: #bab710;
}

.label-primary {
    background: #bab710;
}

.main-profile-menu .dropdown-item:hover,
.main-profile-menu .dropdown-item:focus {
    background-color: transparent;
    color: #bab710;
}

.mega-dropdown-menu .dropdown-item:hover {
    color: #bab710;
    background: transparent;
}

.notification-label:hover,
.main-message-list .name:hover,
.page-header-icon i {
    color: #bab710;
}

.line-list li:before {
    border: 3px solid #bab710;
    background: #ffffff;
}

.main-sidebar-body .nav-sub .nav-sub-item .nav-sub-link:before::hover {
    background: #bab710;
}

.latest-tasks .task-line.primary:before {
    background: #bab710;
}

.latest-tasks .nav-tabs .nav-link.active,
.latest-tasks .nav-tabs .nav-link:hover,
.latest-tasks .nav-tabs .nav-link:focus {
    color: #bab710;
}

.project-countdown .countdown li {
    background: #bab710;
    border: 5px solid #bab710;
}

.activity .added-project {
    color: #bab710;
}

.project-card:hover i {
    color: #bab710;
}

.project-card .primary {
    fill: #bab710;
}

.project-card:hover .primary {
    fill: #bab710;
    opacity: 1;
}

.card-minimal-two .nav-pills .nav-link.active {
    background-color: #bab710;
}

.task-box.primary {
    background-color: rgba(0, 104, 255, 0.6) !important;
    color: #bab710 !important;
    border: 1px dashed #7da7e4;
}

.dataTables_paginate .page-item.active .page-link {
    background-color: #bab710;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.focus {
    background: #bab710;
}

.border-left-primary {
    border-left-color: #bab710 !important;
}

.preview-thumbnail.nav-tabs li a.active img {
    border: 2px solid #bab710 !important;
}

.avatar {
    background-color: #bab710;
}

.sidebar-right .main-nav-line .nav-link.active {
    color: #bab710;
}

.side-menu__item.slide-item.active,
.side-menu__item.slide-item:hover,
.side-menu__item.slide-item:focus {
    color: #bab710;
}

.side-menu__item.slide-item.active:after {
    background: #bab710;
}

.slide-menu a.active {
    color: #bab710;
}

.bg-image:before,
.bg-image1 {
    background: #bab710;
}

.resp-vtabs li.active .social p:hover {
    color: #bab710;
}


/*-----Back to Top-----*/

#back-to-top {
    background: #bab710;
    color: #ffffff;
    border: 1px solid #dedcfb;
}

#back-to-top:hover {
    background: #bab710;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.card.offer-card.sales-card:before,
.upgrade:before,
.tabs-style-1 .main-nav-line .nav-link.active::before {
    background: #bab710;
}

.tabs-style-2 .main-nav-line .nav-link.active,
.tabs-style-3 .nav.panel-tabs li a.active,
.tabs-style-4 .nav.panel-tabs li a.active {
    background: #bab710;
    color: #ffffff;
}

.tab_wrapper>ul li.active {
    border-color: #bab710;
    background: #bab710;
    color: #ffffff;
}

.tab_wrapper .content_wrapper .accordian_header.active {
    color: #bab710;
}

.tab_wrapper .content_wrapper .accordian_header.active:after {
    background: #bab710;
}

.items-blog-tab-menu li a.active,
.items-blog-tab-menu li a:hover {
    color: #bab710;
}

.panel-title1 a {
    border-left: 2px solid #bab710;
}

.panel-title1 a.collapsed {
    border-left: 3px solid #bab710;
}

.widget-header:before {
    background: #bab710;
}

.fill-primary {
    fill: #bab710;
}

.main-content-body-show .main-header-mail-arrow {
    color: #bab710;
}

.main-content-body-show .main-header-mail-arrow:hover {
    color: #bab710;
}

.btn-search {
    padding: 8px 12px;
}

.main-footer a,
.main-star-item {
    color: #bab710;
}

.testbgpattern1:before {
    background-color: #bab710;
}

.invoiceicon,
.invoiceicon-lg {
    color: #bab710;
}

.bg-background2:before {
    background: linear-gradient(-225deg, #bab710 45%, #bab710 100%) !important;
}

.conatct-list .media-icon,
.statistics .media-icon,
.statistics2 .media-icon {
    color: #bab710;
}

.chart-icon .text-primary {
    color: #bab710 !important;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk:focus {
    background: #bab710;
    color: #ffffff;
}

.datepicker-panel>ul>li.highlighted {
    background-color: #bab710 !important;
    color: #ffffff !important;
}

.datepicker-panel>ul>li.highlighted:hover {
    background-color: #bab710 !important;
    color: #ffffff !important;
}

.datepicker-panel>ul>li.picked {
    background-color: rgba(0, 104, 255, 0.1);
    color: #bab710;
}

.datepicker-panel>ul>li.picked:hover {
    background-color: rgba(0, 104, 255, 0.1);
    color: #bab710;
}

.step-app>.step-steps>li.active a {
    background: #bab710;
    border-color: #bab710;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
    background-color: #bab710;
    border: 1px solid #bab710;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #bab710;
}

.SumoSelect>.optWrapper.multiple.okCancelInMulti>.MultiControls>p:focus {
    border-color: #bab710;
    background-color: #bab710;
}

.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #bab710;
}

.SumoSelect .select-all.selected>span i,
.SumoSelect .select-all.partial>span i {
    background-color: #bab710;
}

.step-app .whishlist {
    fill: #bab710 !important;
}

.horizontal-dark .hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active,
.horizontal-dark .hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover {
    color: #bab710;
}

.horizontal-color .horizontal-main.hor-menu {
    background: #bab710;
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active,
.hor-menu .horizontalMenu>.horizontalMenu-list>li:hover .sub-icon {
    color: #bab710;
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: #bab710;
    color: #bab710;
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a.active,
.hor-menu .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
    color: #bab710;
}

.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: #bab710;
}

.hor-menu .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li:hover a {
    color: #bab710;
}

.hor-menu .slide-item.active,
.hor-menu .slide-item:hover,
.hor-menu .slide-item:focus {
    color: #bab710 !important;
}

.scrumb-card .btn-primary {
    color: #bab710 !important;
}

.scrumb-card .btn-primary:hover,
.scrumb-card .btn-primary:focus {
    color: #bab710 !important;
}

.bootstrap-tagsinput .badge {
    background-color: #bab710 !important;
    border: 1px solid #bab710 !important;
}

.sweet-alert button {
    background-color: #bab710 !important;
}

@media (min-width: 576px) {
    .main-header-right .dropdown-menu:after {
        border-bottom: 9px solid #bab710;
    }
}

.slide.is-expanded .side-menu__label {
    color: #bab710;
}

slide.is-expanded .side-menu .side-menu__icon {
    background: #bab710;
    color: #ffffff;
}

slide.is-expanded .side-menu .side-menu__icon:hover,
slide.is-expanded .side-menu .side-menu__icon:focus {
    background: #bab710;
    color: #ffffff;
}

.side-menu .slide.active .side-menu__label,
.side-menu .slide.active .side-menu__icon {
    color: #bab710;
}

.side-menu__item.active,
.side-menu__item:hover,
.side-menu__item:focus {
    text-decoration: none;
    color: #bab710;
}

.side-menu__item.active .side-menu__label {
    color: #bab710;
}

.side-menu__item.active .angle {
    color: #bab710;
}

.side-menu__item.active .side-menu__icon {
    fill: #bab710;
}

.side-menu__item.active .side-menu__icon,
.side-menu__item:hover .side-menu__icon,
.side-menu__item:focus .side-menu__icon {
    background: #bab710;
    color: #ffffff !important;
}

slide:hover .side-menu__label,
slide:hover .angle {
    color: #bab710 !important;
    fill: #bab710 !important;
}

.slide-item.active,
.slide-item:hover,
.slide-item:focus {
    text-decoration: none;
    color: #bab710 !important;
}

.sidebar-scroll .slide-item.active:before {
    background: #bab710;
}

.sub-slide.is-expanded .sub-side-menu__item {
    color: #bab710;
}

.app-sidebar .slide.active .side-menu__icon,
.app-sidebar .slide.is-expanded .side-menu__icon {
    background: #bab710;
    color: #ffffff;
}

.app-sidebar .slide.active .side-menu__icon {
    background: #bab710;
    color: #ffffff;
}

.app-sidebar .slide-menu a.active:before {
    color: #bab710;
}


/*# sourceMappingURL=color.css.map */
